<div class="row">
    <div class="col-md-4 mx-auto mt-5">
        <div class="card">
            <div class="card-body ">
                 <h3 class="text-center">Register User</h3>
                 <hr>
                    {{#if errors}}
                  <ul>
                      {{#each errors}}
                         <li class="text-danger">{{text}}</li>
                      {{/each}}
                  </ul>
                {{/if}}
                <form action="/signup" method="post">
                    <div class="form-group">
                        <input type="text" name="name" value="{{name}}" placeholder="name" class="form-control" id="">
                    </div>
                     <div class="form-group">
                        <input type="text" name="email" value="{{email}}" placeholder="email" class="form-control" id="">
                    </div>
                     <div class="form-group">
                        <input type="password" name="password" placeholder="password" class="form-control" id="">
                    </div>
                       <div class="form-group">
                        <input type="password" name="password2" placeholder="verify password" class="form-control" id="">
                    </div>
                    <button class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>